* {
  box-sizing: border-box;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: grey;
  padding: 0;
}
head {
  background-color: aliceblue;
}
#game{
    min-width: 500px;
    min-height: 500px;
    overflow: hidden;
}

